<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
        <!--toastr-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
        integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</head>

<body id="bod">
    {% load static %}
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/style_wall.css'%}">

    <form action="/login" method="POST" id="box">
        {% csrf_token %}
        <h3>Login</h3>
        <div class="my-3">
            <input type="email" name="email" required placeholder="Email" class="entry">
            <label for="">Email</label>
        </div>
        <div class="my-3">
            <input type="password" name="password" required placeholder="Password" class="entry">
            <label for="">Password</label>
        </div>
        <button class="btn btn-success">Submit</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sign" class="entry">
            Signin
        </button>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="sign" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a new User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/form" method="POST">
                        {% csrf_token %}
                        <div class="my-3">
                            <span>First Name</span>
                            <input type="text" name="first_name" required placeholder="first name" class="me-auto">
                        </div>
                        <div class="my-3">
                            <span>Last name</span>
                            <input type="text" name="last_name" required placeholder="last name">
                        </div>
                        <div class="my-3">
                            <span>Email</span>
                            <input type="email" name="email" required placeholder="email">
                        </div>
                        <div class="my-3">
                            <span>Password</span>
                            <input type="password" name="password" required placeholder="password">
                        </div>
                        <div class="my-3">
                            <span>Password Repeat</span>
                            <input type="password" name="password_confirm" required placeholder="password repeat">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            {% for message in messages %}
            toastr.{{message.tags}} ("{{message}}")
            {% endfor %}
        </script>
    </div>
</body>


</html>